<p> Shows all flight_Ride</p>

 <p> This is the users show page, List result or tickets after the went on the ride</p>
 <header class="header">
    
    User: <p><%= @user.name %><br></p>
    <br>
    <h4> Flight_Ride Iternary</h4>
   <br>
   
    <% @user.flight_rides.each do |user_flight_ride|%>
     <br>
     <p>flight_ride_id</p>
     <p> <%= user_flight_ride.id%></p>

     <p>flight_class</p>
     <p> <%= user_flight_ride.flight_class%></p>

     <p>flight_id </p>
     <p> <%= user_flight_ride.flight_id%></p>
<br>

<br>
   <p><%= link_to "Delete This Flight", user_flight_ride_path(current_user) %></p>
    <%end%>

  <br>
      <h2><%= link_to "See all Flights", flights_path %></h2>

        <% if flash[:notice] %>
       <div class="notice"><%= flash[:notice] %></div>
        <% end %>
   <br>
    
   <br>

     <%=link_to "Log Out", logout_path, :method => :delete %>
        <%= hidden_field_tag :user_id, current_user.id %>
  <br>
   OR
  <br>

        <% if auth_hash = request.env["omniauth.auth"] %>
        <h1><%= @user.name %></h1>
        <h2>Email: <%= @user.email %></h2>
        <h2>Facebook UID: <%= @user.uid %></h2>
        <img src="<%= @user.image %>">
        <% else %>
        <%= link_to('Log in with Facebook!', '/auth/facebook') %>
        <% end %>

  </header>

  