<h1> Login</h1>

<p> choose your name</p>
    <%= form_for (@user) do |f| %>
     <select name="user[id]" id="user_name"> 

      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
        <br>
        <% end %>
        </select>
        <br>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password, id:"password" %><br />
        
        <%= f.submit "Login"%>
  <% end %>

 <br>
 <br>
  <p><%= link_to "Click Here to SignUp", users_path %></p>
   <br>
   <%= link_to('Log in with Facebook!', '/auth/facebook') %>