 

 
 <h1> All Flights</h1>
  <% @flights.each do |flight| %>

     <h3> <%= link_to "Go on flight #{flight.id}", flight_path(flight)%></h3> <br />

<button class="js-more" data-id="<%= flight.id %>">More...</button>
<div id="body-<%= flight.id %>"><%= truncate flight.destination %></div>

     <h5> flight inspection </h5>
     <p> <%= flight.inspection%></p>

     <h5> flight fuel_cost</h5>
     <p> <%= flight.fuel_cost%></p>

     <h5> flight destination</h5>
     <p> <%= flight.destination%></p>

     <h5> flight flight_departure</h5>
     <p> <%= flight.flight_departure%></p>

     <h5> flight flight_sit</h5>
     <p> <%= flight.flight_sit%></p>

<% end %>

<br>

<script type="text/javascript" charset="utf-8">
$(function () {
  
  $('.js-more').on('click', function() {
    var id = $(this).data("id");
    $.get("/flights/" + id + "/flight_data", function(data) {
      // from JSON data ... create a new Javascript model object
       // The attach to the dom 
      $("#body-" + id).html(data["destination"]);
    });
  });
});
</script>

<br>

<% Flight.pass_inspection.each do |p|%>

    <h4><strong>Flight that passed inspection</strong></h4>
    <br>
     
   <h5> flight id</h5>
     <%= p.id%>
     <br>

   <h5> flight Inspection</h5>
     <%= p.inspection%>
    <br>

   <h5> flight Fuel_cost</h5>
     <%= p.fuel_cost%>
     <br>

   <h5> flight Destination</h5>
     <%= p.destination%>
     <br>

   <h5> flight departure</h5>
     <%= p.flight_departure%>
     <br>

   <h5> flight Sit</h5>
     <%= p.flight_sit%>
 <br>
 <%end%>

<br>

<br>
 <h4> <strong>Create a Flight</strong></h4>
     <%= hidden_field_tag :user_id, current_user.id %>

    <%= hidden_field_tag :name => request_forgery_protection_token.to_s, :value => form_authenticity_token %>
   
     <p><%= link_to "Create a New flight", new_flight_path %></p>
 <br>



 