 <P> show all the flights.</P>

   <h1> This is the Flight index page, Lists all the Flight.. </h1>

  <% @flights.each do |flight| %>

  <br/>
   
     <p> <%= link_to "Go on flight #{flight.id}", flight_path(flight)%></p> <br />

     <p> flight inspection </p>
     <p> <%= flight.inspection%></p>

     <p> flight fuel_cost</p>
     <p> <%= flight.fuel_cost%></p>

     <p> flight destination</p>
     <p> <%= flight.destination%></p>

     <p> flight flight_departure</p>
     <p> <%= flight.flight_departure%></p>

     <p> flight flight_sit</p>
     <p> <%= flight.flight_sit%></p>

<% end %>
<br>
       <p>#<%#= link_to "Show All Flight that pass inspection",  %></p>

<br>
     <%= hidden_field_tag :user_id, current_user.id %>

    <%= hidden_field_tag :name => request_forgery_protection_token.to_s, :value => form_authenticity_token %>
   
        <p><%= link_to "Create a New flight", new_flight_path %></p>



<% Flight.pass_inspection.each do |p|%>
    <p> List all flight that passed inspection</p>
     <%p.flight%>
     <%p.flight.id%>
<%end%>