 <P> show all the flights.</P>

  <% @flights.each do |flight| %>

  <br/>
   
     <p> <%= link_to "Go on flight #{flight.id}", flight_path(flight)%></p> <br />

     <p> flight inspection </p>
     <p> <%= flight.inspection%></p>

     <p> flight fuel_cost</p>
     <p> <%= flight.fuel_cost%></p>

     <p> flight destination</p>
     <p> <%= flight.destination%></p>

     <p> flight flight_departure</p>
     <p> <%= flight.flight_departure%></p>

     <p> flight flight_sit</p>
     <p> <%= flight.flight_sit%></p>

<% end %>

<br>
<br>

<% Flight.pass_inspection.each do |p|%>
    <h4>  Flight that passed inspection</h4>
     
   <h5> flight id</h5>
     <%= p.id%>
     <br>

   <h5> flight Inspection</h5>
     <%= p.inspection%>
    <br>

   <h5> flight Fuel_cost</h5>
     <%= p.fuel_cost%>
     <br>

   <h5> flight Destination</h5>
     <%= p.destination%>
     <br>

   <h5> flight departure</h5>
     <%= p.flight_departure%>
     <br>

   <h5> flight Sit</h5>
     <%= p.flight_sit%>
 <br>
 <%end%>

<br>

<br>
 <h4> Create a Flight</h4>
     <%= hidden_field_tag :user_id, current_user.id %>

    <%= hidden_field_tag :name => request_forgery_protection_token.to_s, :value => form_authenticity_token %>
   
     <p><%= link_to "Create a New flight", new_flight_path %></p>



