

<% if @flight.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@flight.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @flight.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<section class="jet">
  <header class="header">
    <h1>Create a New Flight</h1>

  <%= form_for(@flight) do |f| %>
       <%= f.label :inspection %>
       <%= f.check_box :inspection %> [Check For  pass inspection] <br />

       <%= f.label :fuel_cost %>
        <%= f.text_field :fuel_cost %><br />

        <%= f.label :destination %>
        <%= f.text_field :destination %><br />

        <%= f.label :flight_departure %>
        <%= f.text_field :flight_departure %><br />

          <%= f.label :flight_sit %>
        <%= f.text_field :flight_sit %><br />
    
        <br>
        <%= f.submit%>
        <% end %>

        <div id="flightResult">
          <h2 id="flightInspection"></h2>
          <p id = "flightBody"></p>
          <p id = "flightDeparture"></p>
        </div>


        <script type="text/javascript" charset="utf-8">
          $(function () {
            $('form').submit(function(event) {
              //prevent form from submitting the default way
              event.preventDefault();
        
              var values = $(this).serialize();
        
              var flightx = $.flights('/posts', values);
        
              flightx.done(function(data) {
                // TODO: handle response
                var flights = data;

                $("#flightInspection").text(post["inspection"]);
                $("#flightBody").text(post["description"]);
              });
            });
          });
      </script>


      <h3> AJAX Flight</h3>
    <button id='flights-data'> Get Flight data</button>
      <div id='ajax-flights'>[flights.....]</div>
 <br>
    
   <button id='ajax-new-flight-form'>New Flight</button>
    <div id="new-flight-form">[flight-form]</div>
  <br>

  </form>

  </header>
  
</section>
