 
  <div>Ajax show page</div>
 
 <a href id="js-next" data-id="<%=@flight.id%>">Click here to see other Flights</a>

    <p class="flightId">id: <%= @flight.id %></p>
    <p class="flightInspection">inspection: <%= @flight.inspection %></p>
    <p class="flightFuel_cost">fuel_cost: <%= @flight.fuel_cost %> </p>
    <p class="flightDestination">destination: <%= @flight.destination %></p>
    <p class="flightFlightDeparture">flight_departure: <%= @flight.flight_departure %></p>
    <p class="flightFlight_sit">flight_sit: <%= @flight.flight_sit %></p> 
    <br>
    <div id= "new-flight">
     
    </div>

<script type="text/javascript" charset="utf-8">


</script>

  

 
