 
   <P></P>
  <p> Flight Information</p>

 <p>Inspection</p>
 <h3><%= @flight.inspection %> </h3> <br>
  <p>fuel_cost</p>
  <h3>Show <%= @flight.fuel_cost %></h3> <br>
   <p>destination</p>
  <h3><%= @flight.destination %> </h3> <br>
   <p>flight_departure</p>
   <h3><%= @flight.flight_departure %> </h3> <br>
    <p>flight_sit</p>
    <h3><%= @flight.flight_sit %> </h3> <br>

     
  

<%= form_for @flight_rides, :url => user_flight_rides_path(current_user) do |f| %>
 
   <%= f.hidden_field :user_id, :value => current_user.id %>
   <%= f.hidden_field :flight_id, :value => @flight.id %>
<p> Type of flight </p>
 <%= f.select :flight_class, ['Economy', 'Coach', 'First_class']%> 

 <br>
   <p><%= link_to "Edit Flight", edit_flight_path(current_user) %></p>

 <br>
  <%= f.submit "Go on flight Ride #" %>
  <br>
<% end %>