 
  <p> Flight Information</p>

 <p>Inspection</p>
 <p><%= @flight.inspection %> </p> <br>
  <p>fuel_cost</p>
  <p>Show <%= @flight.fuel_cost %></p> <br>
   <p>destination</p>
  <p><%= @flight.destination %> </p> <br>
   <p>flight_departure</p>
   <p><%= @flight.flight_departure %> </p> <br>
    <p>flight_sit</p>
    <p><%= @flight.flight_sit %> </p> <br>

     
  

<%= form_for @flight_rides, :url => user_flight_rides_path(current_user) do |f| %>
 
   <%= f.hidden_field :user_id, :value => current_user.id %>
   <%= f.hidden_field :flight_id, :value => @flight.id %>
<p> Type of flight </p>
 <%= f.select :flight_class, ['Economy', 'Coach', 'First_class']%> 
 <br>
  <%= f.submit "Go on flight Ride #" %>
  <br>
    <p><%= link_to "Edit Flight", edit_flight_path(@flight) %></p>

  <br>
<% end %>