 
  <h3> Flight Information</h3>

        <h4>fuel_cost</h4>
        <p> <%= @flight.fuel_cost %></p> <br>
        <h4>destination</h4>
        <p><%= @flight.destination %> </p> <br>
        <h4>flight_departure</h4>
        <p><%= @flight.flight_departure %> </p> <br>
        <h4>flight-sit</h4>
        <p><%= @flight.flight_sit %> </p> <br>

<%= form_for @flight_rides, :url => user_flight_rides_path(current_user) do |f| %>
 
   <%= f.hidden_field :user_id, :value => current_user.id %>
   <%= f.hidden_field :flight_id, :value => @flight.id %>
<h4> Flight Classs </h4>
   <%= f.select :flight_class, ['Economy', 'Coach', 'First_class']%> 
 <br>
 <br>
   <%= f.submit "Go on flight Ride" %>
 <br>

<% end %>


<h2> Ajax Presentation</h2>
  <%= form_for(@flights) do |f| %>
       <%= f.label :inspection %>
       <%= f.check_box :inspection %> [Check For  pass inspection] <br />

       <%= f.label :fuel_cost %>
        <%= f.text_field :fuel_cost %><br />

        <%= f.label :destination %>
        <%= f.text_field :destination %><br />

        <%= f.label :flight_departure %>
        <%= f.text_field :flight_departure %><br />

          <%= f.label :flight_sit %>
        <%= f.text_field :flight_sit %><br />
    
        <br>
        <%= f.submit%>
        <% end %>

        <div id="flightResult">
        <h2 id="flightInspection"></h2>
        <p id = "flightBody"></p>
        <p id = "flightDeparture"></p>
        </div>