 <h2> indicates all the flight aviable</h2>
  
  <p> Flight Information</p>

 <p>Inspection</p>
 <h3><%= @flight.inspection %> </h3> <br>
  <p>fuel_cost</p>
  <h3>Show <%= @flight.fuel_cost %></h3> <br>
   <p>destination</p>
  <h3><%= @flight.destination %> </h3> <br>
   <p>flight_departure</p>
   <h3><%= @flight.flight_departure %> </h3> <br>
    <p>flight_sit</p>
    <h3><%= @flight.flight_sit %> </h3> <br>
     

  <form method= "post" action= <%= user_flight_rides_path(@current_user)%>>

    # You definitely want to keep the strong params. 
      # The issue is that you need your params from your 
      # form to be passed through like this: `{flight_ride" => {"user_id"=>"14", "flight_id"=>"3" }}` 
      #  If you use form_for with an empty flight ride object, 
      # the params will typically generate correctly on their own
      
     <%= hidden_field_tag :user_id, current_user.id %>

     <%= hidden_field_tag :flight_id, @flight.id %>
   
     <%= hidden_field_tag :name => request_forgery_protection_token.to_s, :value => form_authenticity_token %>
    <br>

    <input type = "submit", value = "Go on Flight Ride" >

      
    </form>
