<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>


<section class="jet">
  <header class="header">
    <h1>Sign Up</h1>
    ## this route to the users controller
    <%= form_for(@user) do |f| %>
       <%= f.label :name %>:
       <%= f.text_field :name %><br />

       <%= f.label :user_cash %>:
        <%= f.text_field :user_cash %><br />

    

        <%= f.label :password %>:
        <%= f.text_field :password %><br />
    
        <br>
        <%= f.submit%>
        <% end %>
      </form>

  </header>
  
</section>
