
<section class="jet">
  <header class="header">

    <h1>SignUp</h1>
    <%= form_for(@user) do |f| %>
   <br>
       <%= f.label :name %>
       <%= f.text_field :name %>
       <br />
       <br>
      
        <%= f.label :password %>
        <%= f.text_field :password %>
        <br />       <br>
        <%= f.submit "Sign Up", data: {disable_with: false}%>

        <br>
        <% end %>
      </form>
 
   <br>
   <br>
      <%= link_to('Login with Facebook', '/auth/facebook') %>

  </header>
  
</section>
