<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<p> this is the sessions New page...</p>
<section class="jet">
  <header class="header">

    <h1>SignUp</h1>
    ## this route to the users controller
    <%= form_for(@user) do |f| %>
  
            <% if @user.errors.any? %>
                <div id="error_explanation">
                <h2>
                  <%= pluralize(@user.errors.count, "error") %>
                  prohibited this post from being saved:
                </h2>
            
                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>


       <%= f.label :name %>
       <%= f.text_field :name %>
       <br />
      
        <%= f.label :password %>
        <%= f.text_field :password %>
        <br />

        <%= f.submit%>
        <% end %>
      </form>

  </header>
  
</section>
