
<section class="jet">
  <header class="header">

    <h1>SignUp</h1>
    <%= form_for(@user) do |f| %>
  
            <% if @user.errors.any? %>
                <div id="error_explanation">
                <h2>
                  <%= pluralize(@user.errors.count, "error") %>
                  prohibited this post from being saved:
                </h2>
            
                <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

   <br>
       <%= f.label :name %>
       <%= f.text_field :name %>
       <br />
       <br>
      
        <%= f.label :password %>
        <%= f.text_field :password %>
        <br />
       <br>
        <%= f.submit%>
        <br>
        <% end %>
      </form>
      <br>
 <br>
      <%= link_to('Log in with Facebook!', '/auth/facebook') %>

  </header>
  
</section>
