
<section class="jet">
  <header class="header">

    <h1>SignUp</h1>
    <%= form_for(@user) do |f| %>
          [Leave Below boxes empty and click create user to go to the Login page.]
   <br>
       <%= f.label :name %>
       <%= f.text_field :name %>
       <br />
       <br>
      
        <%= f.label :password %>
        <%= f.text_field :password %>
        <br />       <br>
        <%= f.submit%>
        <br>
        <% end %>
      </form>
 
      <br>
 <br>
      <%= link_to('Login with Facebook', '/auth/facebook') %>

  </header>
  
</section>
