<!DOCTYPE html>
<html>
  <head>
    <title>Jet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
     
   <button id='ajax-new-flight-form'>New Flight</button>
   <div id="new-flight-form">[flight-form]</div>
   <br>

    <%= yield %>
  </body>
</html>
