<!DOCTYPE html>
<html>
  <head>
    <title>Jet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
 <link rel="stylesheet" href="/assets/stylesheets/custom.css" /> 
  </head>

  <body>
  
  <div class= "container">
 <img src="https://cdn.hipwallpaper.com/i/91/72/F2qer4.jpg" class="img-fluid" alt="Responsive image">
 
 <%= yield %>
         <%= javascript_include_tag 'application'%>
        
  </div>
   

    <br>


  </body>


</html>
